<header class="banner">
  <section>
    <center>
      <h1 class="banner-item banner-title">
        <div class="animated bounceInDown">iKnowSongs</div>
      </h1>
    </center>
  </section>
  <nav>
    <div class="skyline"></div>
  </nav>
</header>
<div id='cssmenu'>
  <ul>
    <li class='active'><a href='iKnowSongsHome.html'><span>Home</span></a></li>
    <li><a href='iKnowSongs.html'><span>Acoustic</span></a></li>
    <li><a href='ukulele.html'><span>Ukulele</span></a></li>
    <li><a href='classical.html'><span>Classical</span></a></li>
  </ul>
</div>
<div class="animated fadeInLeft">
  <h2 align="center">Welcome to iKnowSongs</h2>
</div>
