<div class="container">
	<div class="form-group">
		<label>Name: </label>
		<input class="form-control" type="text" placeholder="List Filter Pharase" data-ng-model="filter.name"/> {{name}}
	</div>
<!-- regular read-only list -->
<!--
	<ul class="list-group">
		<li class="list-group-item" data-ng-repeat="aname in names | filter:filter.name | orderBy: 'fn'">{{aname.fn}} - {{aname.ln}}</li>
	</ul>
-->
	<div class="list-group">
		<a href="#/view2" class="list-group-item" data-ng-repeat="aname in names | filter:filter.name | orderBy: 'fn'">{{aname.fn}} - {{aname.ln}}</a>
	</div>

	<div class="form-group">
		<label>First Name: </label>
		<input class="form-control" type="text" data-ng-model="newName.fname"/>
		<label>Last Name: </label>
		<input class="form-control" type="text" data-ng-model="newName.lname"/>
	</div>
	<button class="btn btn-primary" data-ng-click="addName()">Add Name</button>
</div>
